*{
    font-family: sans-serif;
}


.outline{
    border: 10px solid goldenrod;
    min-height: 93.5vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainbox{
    display: flex;
    border: 5px solid blue;
    max-width: 650px;
    min-height: 450px;
    max-height: 500px;
    border-radius: 40px;
}

.box{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.leftbox{
    border-radius: 30px;
    border: 2px solid black;
}

.circle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    flex:1 0 100%;
}


.circle{
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big{
    font-size: 69px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
}


.smol{
    font-size: 18px;
    opacity: 0.5;
    margin-top: -10px;
}

.top{
    flex:1 0 100%;
}

.button{
    background-color: aqua;
    flex-basis: 100%;
    padding:10px 10px;
    margin: 25px;
    height: 50px;
    min-width: 250px;
    border-radius: 30px;
    align-self:self-end;
}


.rb-header{
    flex-basis: 100%;
}

.rb-stats{
    flex-basis: 100%;
}

.rb-button{
    align-self: self-end;
    flex-basis:100%;
}

.sbutton{
    padding-left:10px;
    padding-right: 10px;
    margin:5px;
    height: 50px;
    min-width: 250px;
    border-radius: 10px;
}












.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }