@font-face {
    font-family: 'Hanken';
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  

*{
    font-family: 'Hanken', sans-serif;
}


.outline{
    min-height: 96vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attribution{
    max-height: 3vh;
}

.mainbox{
    display: flex;
    border: 5px solid blue;
    max-width: 680px;
    height: 475px;
    border-radius: 40px;
}

.box{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.leftbox{
    border-radius: 30px;
    border: 2px solid black;
    background-color: violet;
}

.circle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    flex:1 0 100%;
    margin-bottom: 5px;
    margin-top: -20px;
}


.circle{
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big{
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
    font-weight: 900;
}


.smol{
    font-size: 16px;
    opacity: 0.7;
    margin-top: -8px;
    color: white;
}

.top{
    flex:1 0 100%;
    font-size: 22px;
    font-weight: 800;
    color: rgba(232, 226, 226, 0.925);
    opacity: 0.8;
    padding-top: 5px;
}

.message{
    flex-basis: 100%;
    color: rgba(232, 226, 226, 0.925);
    font-weight: 500;
    font-size: 16.5px;
}
 
.commend{
    flex-basis: 100%;
    font-size: 27px;
    font-weight: 510;
    color: white;
    font-weight:700;
    margin-top: -10px;
    margin-bottom: 10px;
 }
 

.button{
    background-color: grey;
    flex-basis: 100%;
    padding:10px 10px;
    margin: 25px;
    height: 50px;
    min-width: 250px;
    border-radius: 30px;
    align-self:self-end;
}


.rb-header{
    flex-basis: 100%;
}

.rb-stats{
    flex-basis: 100%;
}

.rb-button{
    align-self: self-end;
    flex-basis:100%;
}

.sbutton{
    padding-left:10px;
    padding-right: 10px;
    margin:5px;
    height: 50px;
    min-width: 250px;
    border-radius: 10px;
}











.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }